@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This App doesnt respect your privacy and the only thing that keeps your data safe is the lack of know how by the maintainers. however we do provide the option for you to manually delete yourself.</p>
